/terraform/platform_development/environment/aws/test @github-actions
/terraform/platform_development/environment/aws/prod @github-actions
/terraform/platform_development/environment/azure/test @github-actions
/terraform/platform_development/environment/azure/prod @github-actions
/terraform/platform_development/environment/gcp/test @github-actions
/terraform/platform_development/environment/gcp/prod @github-actions
/terraform/innovation_development/environment/aws/test @github-actions
/terraform/innovation_development/environment/aws/prod @github-actions
/terraform/innovation_development/environment/azure/test @github-actions
/terraform/innovation_development/environment/azure/prod @github-actions
/terraform/innovation_development/environment/gcp/test @github-actions
/terraform/innovation_development/environment/gcp/prod @github-actions