# Terraform
*.tfstate
*.tfstate.*
.crash
.terraform/
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
terraform.tfvars
*.auto.tfvars
*.tfvars

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pyo
*.pyd
.Python
env/
.venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
.eggs/
pip-log.txt
pip-delete-this-directory.txt
.mypy_cache/
.pytest_cache/
.tox/
.coverage
.coverage.*
.cache
.nox/
.pyre/
.pytype/
.dmypy.json
.pyre/
*.manifest

# uv (Python package manager)
.uv/
uv.cache/

# Local Storage and database
data/
.env
debug.ipynb
terraform_state_backup/